@require "~normalize.css"
@import 'rupture'
body
  color #fff
  font-family sans-serif
  background #333
  display flex


.page-wrap
  width 100%
  min-height 100vh
  display flex
  .page-table
    flex 1
    display flex
    align-items center
    justify-content center
  .page-menu
    display flex
    flex-direction column
    align-items center
    justify-content center
#buttons-wrap
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  padding .5em
  width 600px
  height 600px
  background blue
  button
    width calc(600px / 10)
    height calc(600px / 10)


.correct
  background-color green
  color #fff

