@require "~normalize.css"
@import 'rupture'
body
  color #fff
  font-family sans-serif
  background #333
  display flex


.page-wrap
  width 100%
  min-height 100vh
  display flex
  align-items center
  justify-content center
  flex-direction column

#buttons-wrap
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  padding 1em
  width 600px
  background red
  button
    width calc(600px / 10)
    height calc(600px / 10)
